.img img{
    vertical-align: middle;
  }
  .section__title{
    color: #000d6b;
    font-weight: 600;
    font-size: 2rem;
  }
  .section__subtitle{
    color:#000d6b;
    font-weight: 600;
    font-size: 1.8rem;
  }
  *{
    color:gray;
  }
  span i{
    color:#f9a826;
  }
  .btn{
    background: #000d6b !important;
      color: white !important;
      border: none !important;
  }
